<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>goldenspark</title>
    <link rel="stylesheet" href="{% static 'myapp/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Inline">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Butterfly+Kids">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charmonman">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Clicker+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Damion">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day">
    <link rel="stylesheet" href="{% static 'myapp/assets/fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Article-List.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Features-Boxed.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Footer-Basic.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Highlight-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Highlight-Phone.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Lightbox-Gallery.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Navigation-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Projects-Horizontal.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Team-Grid.css'%}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><img class="img-fluid" src="{% static 'myapp/assets/img/logggzz.png'%}" style="width: 342px;margin: -37px;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Home</strong></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #0e263e;font-size: 23px;font-family: 'Averia Libre', cursive;"><strong>Contact us</strong></a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Our collection</strong></a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">chain</a><a class="dropdown-item" href="#">bracelet</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
            <div></div>
        </div>
    </nav>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-family: 'Averia Libre', cursive;color: rgb(14,38,62);">ANKLET Collection&nbsp;</h2>
                <p class="text-center" style="font-family: 'Averia Libre', cursive;font-size: 18px;font-style: normal;color: rgb(14,38,62);">&nbsp;We design and make jewellery long and&nbsp;short necklaces, bangles and drops&nbsp; by skilled artisans.</p>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET&nbsp; :&nbsp; &nbsp;A 1</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A001.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A001.jpg''%}"></a></div>
                <div
                    class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-primary"></span><span class="badge badge-primary"></span><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;A 2</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A002.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A002.jpg''%}"></a></div>
            <div
                class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET&nbsp; :&nbsp; &nbsp;A 3</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A003.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A003.jpg''%}"></a></div>
        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET&nbsp; :&nbsp; &nbsp;A 4</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A004.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A004.jpg''%}"></a></div>
    <div
        class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET :&nbsp; &nbsp;A 5</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A005.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A005.jpg''%}"></a></div>
        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET :&nbsp; &nbsp;A 6</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A006.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A006.jpg''%}"></a></div>
        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET&nbsp; :&nbsp; &nbsp;A 7</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A007.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A007.jpg''%}"></a></div>
                        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET&nbsp; :&nbsp; &nbsp;A 8</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A008.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A008.jpg''%}"></a></div>
                        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET :&nbsp; &nbsp;A 9</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A009.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A009.jpg''%}"></a></div>
                        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET&nbsp; :&nbsp; &nbsp;A 10</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A010.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A010.jpg''%}"></a></div>
                        <div
            class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">ANKLET :&nbsp; &nbsp;A 11</span><a data-lightbox="photos" href="{% static 'myapp/assets/img/Anklet/A011.jpg''%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/Anklet/A011.jpg''%}"></a></div>
                </div>
                </div>
                </div>
                <div class="footer-basic">
                    <footer>
                        <div class="social"><a class="border rounded-circle border-info" href="#" style="color: #0e263e;"><i class="icon ion-social-instagram" style="color: #0e263e;"></i></a><a class="border-info" href="#" style="color: #0e263e;"><i class="icon ion-social-snapchat" style="color: #0e263e;"></i></a>
                            <a
                                class="border-info" href="#"><i class="icon ion-social-twitter" style="color: #0e263e;"></i></a><a class="border-info" href="#"><i class="icon ion-social-facebook" style="color: #0e263e;"></i></a></div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Home</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Services</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>About</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Terms</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Privacy Policy</strong></a></li>
                        </ul>
                        <p class="copyright"><strong>Goldenspark © 2021</strong></p>
                    </footer>
                </div>
                <script src="{% static 'myapp/assets/js/jquery.min.js'%}"></script>
                <script src="{% static 'myapp/assets/bootstrap/js/bootstrap.min.js'%}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>her