<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>goldenspark</title>
    <link rel="stylesheet" href="{% static 'myapp/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Inline">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Butterfly+Kids">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charmonman">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Clicker+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Damion">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day">
    <link rel="stylesheet" href="{% static 'myapp/assets/fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Article-List.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Features-Boxed.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Footer-Basic.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Highlight-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Highlight-Phone.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Lightbox-Gallery.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Navigation-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Projects-Horizontal.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Team-Grid.css'%}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><img class="img-fluid" src="{% static 'myapp/assets/img/logggzz.png'%}" style="width: 342px;margin: -37px;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Home</strong></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #0e263e;font-size: 23px;font-family: 'Averia Libre', cursive;"><strong>Contact us</strong></a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Our collection</strong></a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">chain</a><a class="dropdown-item" href="#">bracelet</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
            <div></div>
        </div>
    </nav>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-family: 'Averia Libre', cursive;color: rgb(14,38,62);">chain collection&nbsp;</h2>
                <p class="text-center" style="font-family: 'Averia Libre', cursive;font-size: 18px;font-style: normal;color: rgb(14,38,62);">&nbsp;We design and make jewellery long and&nbsp;short necklaces, bangles and drops&nbsp; by skilled artisans.</p>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 1</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C010.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C010.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-primary"></span><span class="badge badge-primary"></span><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 2</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C002.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C002.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 3</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C003.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C003.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 4</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C004.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C004.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 5</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C005.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C005.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 6</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C006.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C006.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 7</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C007.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C007.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 8</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C008.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C008.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 9</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C009.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C009.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 10</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C011.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C011.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 11</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C011.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C011.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 12</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C012.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C012.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 13</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C013.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C013.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 14</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C014.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C014.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 15</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C015.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C015.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 16</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C016.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C016.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 17</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C017.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C017.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 18</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C018.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C018.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 19</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C019.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C019.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 20</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C020.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C020.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 21</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C021.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C021.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 22</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C022.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C022.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 23</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C023.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C023.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 24</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C024.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C024.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 25</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C025.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C025.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 26</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C026.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C026.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 27</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C027.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C027.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 28</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C028.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C028.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 29</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C029.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C029.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 30</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C030.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C030.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 31</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C031.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C031.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 32</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C032.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C032.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 33</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C033.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C033.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 34</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C034.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C034.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 35</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C035.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C035.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 36</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C036.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C036.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 37</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C037.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C037.jpg'%}"></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><span class="badge badge-pill badge-primary text-truncate text-uppercase bg-info">chain&nbsp; :&nbsp; &nbsp;c 38</span>
                    <a data-lightbox="photos" href="{% static 'myapp/assets/img/CHAIN/C038.jpg'%}"><img class="img-fluid border rounded" src="{% static 'myapp/assets/img/CHAIN/C038.jpg'%}"></a>
                </div>






            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a class="border rounded-circle border-info" href="#" style="color: #0e263e;"><i class="icon ion-social-instagram" style="color: #0e263e;"></i></a><a class="border-info" href="#" style="color: #0e263e;"><i class="icon ion-social-snapchat" style="color: #0e263e;"></i></a>
                <a class="border-info" href="#"><i class="icon ion-social-twitter" style="color: #0e263e;"></i></a><a class="border-info" href="#"><i class="icon ion-social-facebook" style="color: #0e263e;"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Home</strong></a></li>
                <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Services</strong></a></li>
                <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>About</strong></a></li>
                <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Terms</strong></a></li>
                <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Privacy Policy</strong></a></li>
            </ul>
            <p class="copyright"><strong>Goldenspark © 2021</strong></p>
        </footer>
    </div>
    <script src="{% static 'myapp/assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'myapp/assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>