
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>goldenspark</title>
    <link rel="stylesheet" href="{% static 'myapp/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Inline">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Butterfly+Kids">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charmonman">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Clicker+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Damion">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day">
    <link rel="stylesheet" href="{% static 'myapp/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="{% static 'myapp/assets/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Article-List.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Features-Boxed.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Footer-Basic.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Highlight-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Highlight-Phone.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Lightbox-Gallery.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Navigation-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Projects-Horizontal.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Team-Grid.css'%}">
</head>

<body>
    <div class="photo-gallery">
        <div class="container" style="width: 1116px;">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1"><img src="{% static 'myapp/assets/img/logggzz.png'%}" style="width: 293px;margin: -37px;">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Home</strong></a></li>
                            <li class="nav-item"></li>
                            <li class="nav-item"><a class="nav-link" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Contact us</strong></a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #0e263e;font-family: 'Averia Libre', cursive;font-size: 23px;"><strong>Our collection</strong></a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="chain">Chains</a><a class="dropdown-item" href="anklet">Anklet</a><a class="dropdown-item" href="earrings">Earrings</a><a class="dropdown-item" href="#">Bangles</a></div>
                            </li>
                        </ul>
                    </div>
                    <div></div>
                </div>
            </nav>
            <section></section>
        </div>
        <div class="container">
            <div class="media text-center"></div>
        </div>
    </div>
    <div class="highlight-phone" style="padding: 13px;">
        <div class="container">
            <div class="row">
                <div class="col"><img class="rounded img-fluid" src="{% static 'myapp/assets/img/Artboard.png'%}" style="color: rgb(216,173,121);"></div>
            </div>
        </div>
    </div>
    <div class="d-flex highlight-clean" style="height: 68px;padding: 15px;width: 1404px;">
        <div class="container">

            <div class="text-capitalize text-center bg-white buttons"></div>
            <div class="intro"></div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro"></div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="chain"><img class="rounded img-fluid" src="{% static 'myapp/assets/img/CHAIN/C005.jpg'%}" style="height: 383px;"></a>
                    <h3 class="text-uppercase name"><strong><em>GET TO know&nbsp; MORE ABOUT chain designs&nbsp;&nbsp;</em></strong></h3><a class="action" href="#"><i class="fas fa-chevron-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="rounded img-fluid" src="{% static 'myapp/assets/img/bracelet/b004.jpg'%}"" style="height: 381px;"></a>
                    <h3 class="text-uppercase name"><strong><em>GET TO know MORE ABOUT BRACELETS designs</em></strong></h3><a class="action" href="#"><i class="fas fa-chevron-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="earrings"><img class="rounded img-fluid" src="{% static 'myapp/assets/img/EARRINGS/E001.JPG'%}" style="height: 379px;"></a>
                    <h3 class="text-uppercase name"><strong><em>GET TO&nbsp; know MORE ABOUT&nbsp; earring designs</em></strong></h3><a class="action" href="#"><i class="fas fa-chevron-circle-right"></i></a></div>
            </div>
        </div>
    </div>
    <div class="projects-horizontal"></div>
    <div class="features-boxed"></div>
    <div class="highlight-clean" style="height: 94px;padding: 3px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-capitalize text-center" style="font-family: 'Averia Libre', cursive;">Our Clients&nbsp;</h2>
            </div>
            <div class="buttons"></div>
        </div>
    </div>
    <div class="team-grid">
        <div class="container">
            <div class="intro"></div>
            <div class="row d-flex people" style="padding: 3px;">
                <div class="col-md-4 col-lg-4 col-xl-4 item">
                    <div class="box" style="background-image: url({% static 'myapp/assets/img/mala.png)'%};"></div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 offset-0 offset-lg-0 offset-xl-0 item" style="padding: 0px;">
                    <div class="box" style="background-image: url({% static 'myapp/assets/img/joy.png)'%};"></div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 offset-xl-0 item">
                    <div class="text-center box" style="background-image:url({% static 'myapp/assets/img/malak.png)'%}"></div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="footer-basic">
                    <footer>
                        <div class="social"><a class="border rounded-circle border-info" href="#" style="color: #0e263e;"><i class="icon ion-social-instagram" style="color: #0e263e;"></i></a><a class="border-info" href="#" style="color: #0e263e;"><i class="icon ion-social-snapchat" style="color: #0e263e;"></i></a>
                            <a
                                class="border-info" href="#"><i class="icon ion-social-twitter" style="color: #0e263e;"></i></a><a class="border-info" href="#"><i class="icon ion-social-facebook" style="color: #0e263e;"></i></a></div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Home</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Services</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>About</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Terms</strong></a></li>
                            <li class="list-inline-item"><a href="#" style="color: #0e263e;"><strong>Privacy Policy</strong></a></li>
                        </ul>
                        <p class="copyright"><strong>Goldenspark © 2021</strong></p>
                    </footer>
                </div>
                <script src="{% static 'myapp/assets/js/jquery.min.js'%}"></script>
                <script src="{% static 'myapp/assets/bootstrap/js/bootstrap.min.js'%}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>